html {
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  color: MediumAquamarine;
  display: inline;
}

nav {
  display: inline-block;
}

.flex,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.logo,
.img,
.article,
.content {
  border: 1px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
