/* .content,
.column,
.article,
.heading,
.img {
  border: 1px solid black;
} */

body {
  font-family: Georgia;
}

body,
.bites,
.bites ul,
.bites li,
.footer {
  margin: 0px;
}

body,
.nav a {
  color: black;
}

.flex,
.main,
.main-story,
.story,
.bites,
.left-column,
.footer {
  display: flex;
}

.head,
.nav,
.content,
.column,
.footer-line {
  display: inline-flex;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

/* Heading part */
header {
  font-size: 14px;
  padding: 10px 0px;
  z-index: 5;
  background-color: White;
  position: fixed;
}

header,
.bites li {
  border-bottom: 1px solid black;
}

header,
.bites li,
.footer-line li,
.footer-line p {
  font-family: Verdana;
}

header,
.story,
.main-story,
.bites h3,
.footer-line h1 {
  font-weight: bold;
}

header,
.head,
.footer {
  width: 100%;
}

.head {
  color: MediumAquamarine;
}

.head,
.nav,
.main,
.footer-line,
.img {
  align-items: center;
}

.logo h1,
.logo img,
.article {
  font-size: 17px;
}

.logo h1,
.logo img,
.nav li {
  padding: 0px 10px;
}

.nav {
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-basis: 350px;
}

.nav li {
  display: inline-block;
}

/* Content part */

.main,
.column.medium,
.column.small,
.left-column,
.bites,
.footer {
  flex-direction: column;
}

.content,
.footer {
  position: relative;
}

.content {
  width: 1250px;
  top: 80px;
}

.column {
  margin: 30px 30px 0px 0px;
}

.column.large,
.left-column {
  justify-content: space-between;
}

.column.large {
  width: 630px;
  flex-wrap: wrap;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.left-column {
  flex-basis: 299px;
}

.story,
.main-story,
.footer-line h1 {
  color: White;
}

.main-story {
  font-size: 40px;
}

.main-story span {
  padding: 25px;
}

.story {
  font-size: 30px;
}

.story,
.bites h3 {
  text-align: center;
}

/* Bites part */

.bites h3,
.footer-line h1 {
  font-size: 16px;
}

.bites li {
  background-color: WhiteSmoke;
  color: DimGray;
  padding: 15px 20px;
  border-bottom: 1px solid black;
}

.bites li,
.footer-line li,
.footer-line p {
  font-size: 12px;
}

/* Footer part */

.footer {
  background-color: MediumAquamarine;
  top: 155px;
  height: 325px;
}

.footer,
.footer-line {
  justify-content: center;
}

.footer-line h1 {
  font-size: 16px;
  border-right: 2px solid White;
  padding: 0px 25px;
}

/* Images as backgrounds */

.mother {
  background-image: url(../images/img-story-main.png);
  width: 629px;
}

.earth {
  background-image: url(../images/img-story-2.png);
}

.camera {
  background-image: url(../images/img-story-3.png);
}

.cat {
  background-image: url(../images/img-story-1.png);
}

.earth,
.camera {
  width: 299px;
}

.mother,
.earth,
.camera,
.cat {
  height: 300px;
}

.cookie {
  background-image: url(../images/img-news-bite.png);
  height: 240px;
}
